/* copy paste stop code */


*
{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}

textarea
{
-webkit-user-select: auto !important;
-khtml-user-select: auto !important;
-moz-user-select: auto !important;
-ms-user-select: auto !important;
user-select: auto !important;
}


.swiper-container2 {
		width: 100%;
		height: 250px;
		overflow-y: scroll;
	}

	.swiper-container2 .swiper-slide img {
	  height: 250px;
	}

input {
  font-size: 13px !important;
  font-weight: 400;
  color: #4D4D4D !important;
  padding: 10px !important;
}

input[type="text"]{
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
    }

input[type="number"]{
      border-radius:5px;
      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      padding: 10px !important;
    }

 .row.home {
    margin-bottom: 10px;
}

div[class*="col-"] {
  background: white;
  text-align: left;
  color: #3db6fd;
  padding: 5px;
  padding-left: 10px;
}

.swiper-zoom-container { background-color: #fff; }

@font-face {
  font-family: 'AVGARDN';
  src: url('../fonts/AVGARDNI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal !important;
}


@font-face {
  font-family: 'RomanUncialModern';
  src: url('../fonts/RomanUncialModern.ttf') format('truetype');
  font-weight: normal;
  font-style: normal !important;
}

.message-sent .message-text {
  background-color: grey;
}